<script>
        function formValidation()
        {
            var firstName = document.registration.firstName; //
            var lastName = document.registration.lastName; //
            var school = document.registration.university; //
            var uemail = document.registration.email;
            var uname = document.registration.username;  //
            var passid = document.registration.password; //
            
            if(!userid_validation(uname,5,12)){
                return false;
            }
            if(!passid_validation(passid,7,12)){
                return false;
            }
            if(!allLetter(firstName)){
                return false;
            }
            if(!allLetter(lastName)){
                return false;
            }
            if(!school_validate(school)){
                return false;
            }
            if(!ValidateEmail(uemail)){
                return false;
            }
            
            
            return true;
            
        }
    function userid_validation(uid,mx,my)
    {
        var uid_len = uid.value.length;
        if (uid_len == 0){
            alert("Username should not be empty");
            uid.focus();
            return false;
        } 
        else if(uid_len >= my || uid_len < mx)
        {
            alert("Username length should be between "+mx+" to "+my);
            uid.focus();
            return false;
           
        }
        return true;
        
    }
    
    function passid_validation(passid,mx,my)
    {
        var passid_len = passid.value.length;
        if (passid_len == 0)
        {
            alert("Password should not be empty");
            passid.focus();
            return false;
        }
        else if(passid_len >= my || passid_len < mx){
            alert("Password length should be between "+mx+" to "+my);
            passid.focus();
            return false;
        }
        return true;
    }
    
    function allLetter(uname) //for first name and last name
    {
        var letters = /^[A-Za-z]+$/;
        if(uname.value.match(letters))
        {
            return true;
        }
        else
        {
            alert('Name Fields must have alphabet characters only');
            uname.focus();
            return false;
        }
    }
    
    function school_validate(school){
        var school_length = school.value.length;
        if(school_length == 0 || school_length < 3){
            alert("Please put full name of university or 3 letter abbreviation (ex. New York University or NYU)");
            school.focus();
            return false;
        }
        else{
            return true;
        }
    }
    
    
    function ValidateEmail(uemail)
    {
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\edu)+$/;
        if(uemail.value.match(mailformat))
        {
            return true;
        }
        else
        {
            alert("Please use the email associated with your University.");
            uemail.focus();
            return false;
        }
    }
    </script>