{% extends "unijive.nav_bar_base_welcome.html" %}
{% block head_title %}Home || {{block.super}}{% endblock head_title %}
{% block content %}


{% load static %} 

    


<div class="container">
    <div class="row" style="margin-top:150px;" >
        <div class="col-lg-4"  >
            <div style = "color:#439DBB;text-align:center;">
            <a class ="main_page" href =  "/my_chats">
            <img src = "{% static "icons_/my_chats_icon.PNG" %}" height="auto" width="200px">
                <div style = "margin-top:50px;">
            <h3>My Chats</h3></a>
            </div>
            </div>
        </div>
        <div class="col-lg-4" >
            <div style = "color:#439DBB;text-align:center;">
            <a class ="main_page" href =  "/search_chats">
             <img src = "{% static "icons_/search_icon.PNG" %}" height="auto" width="180px">
            <div style = "margin-top:50px;">
            <h3>Search Chats</h3></a>
            </div>
            </div>
        </div>
        <div class="col-lg-4" >
            <div style = "color:#439DBB;text-align:center;">
            <a class ="main_page" href =  "/distractions">
                    
            <img src = "{% static "/icons_/distractions.png" %}" height="160px" width="auto">
            <div style = "margin-top:50px;">
            <h3>Distractions</h3></a>
            </div>
            </div>
        </div>
    </div>
</div>



{% endblock  %}
    
    
    
    

