

{% extends "unijive.nav_bar_base.html" %}
{% block head_title %}My Chats || {{block.super}}{% endblock head_title %}

    {% block content %}
        
    {% load static %}
        
        <div class = "page-header-like-modal"  >
            <h1 style = "color:#439DBB;">My Chats
                <span class="badge-pill" style="background-color:#439DBB;color:white;vertical-align:middle;">2</span>
                <a href = "{% url "distractions" %}"><img src = "{% static "icons_/distractions.png" %}" height="60px" width="auto" style = "float:right;margin-right:30px;"></a>
                <a href = "{% url "searchChats" %}"><img src = "{% static "icons_/search_icon.PNG" %}" height="60px" width="60px" style = "float:right;margin-right:30px;"></a>
                </h1>

            
            
            
        </div>
        <div class = "modal-body"  >
            <div class = "list-group" >
                {% for  object in object_list %}
                <div id = "list_chat" >
                    
                    
                    
                    <div class="list-group-item" style="border:2px solid #439DBB;border-radius:15px;background-color:#439DBB1F;">
                        
                        {% if object.seen and object.mutedStatus %}  
                        
                        <img id = "chat_icon1" src = "{% static 'icons_/opened_muted_chat_icon.PNG' %}" height="35px" width="auto"  style="float:left;margin-top:0px;margin-right:10px;margin-left:0px;">
                        <button id = "mutebtn1" data-chat-seen="{{object.seen}}" data-chat-muteStatus="{{object.mutedStatus}}"  type= "button" class="btn" style = "float:right;height:auto;background-color:#0000;margin:0 0 0 0;"><p id = "mute_btn_txt1" style="color:black;margin:0px 0px 0px 0px;">Unmute</p></button>
                        <button id = "removebtn1" type= "button" class="btn" style = "float:right;height:auto;margin:0 0 0 0;background-color:#0000;"><p style="color:black;margin:0px 0px 0px 0px;">Leave</p> </button>
                        {% endif %}

                        {% if not object.seen and object.mutedStatus %}  
                            
                        <img id = "chat_icon1" src = "{% static 'icons_/unopened_muted_chat_icon.PNG' %}" height="35px" width="auto"  style="float:left;margin-top:0px;margin-right:10px;margin-left:0px;">
                        <button id = "mutebtn1" data-chat-seen="{{object.seen}}" data-chat-muteStatus="{{object.mutedStatus}}" type= "button" class="btn" style = "float:right;height:auto;background-color:#0000;margin:0 0 0 0;"><p id = "mute_btn_txt1" style="color:black;margin:0px 0px 0px 0px;">Unmute</p></button>
                        <button id = "removebtn1" type= "button" class="btn" style = "float:right;height:auto;margin:0 0 0 0;background-color:#0000;"><p style="color:black;margin:0px 0px 0px 0px;">Leave</p> </button>
                        {% endif %}

                        {% if not object.seen and not object.mutedStatus %}  
                       
                        <img id = "chat_icon1" src = "{% static 'icons_/unopened_chat_icon.PNG' %}" height="35px" width="auto"  style="float:left;margin-top:0px;margin-right:10px;margin-left:0px;">
                        <button id = "mutebtn1" data-chat-seen="{{object.seen}}" data-chat-muteStatus="{{object.mutedStatus}}" type= "button" class="btn" style = "float:right;height:auto;background-color:#0000;margin:0 0 0 0;"><p id = "mute_btn_txt1" style="color:black;margin:0px 0px 0px 0px;">Mute</p></button>
                        <button id = "removebtn1" type= "button" class="btn" style = "float:right;height:auto;margin:0 0 0 0;background-color:#0000;"><p style="color:black;margin:0px 0px 0px 0px;">Leave</p> </button>
                        {% endif %}

                        {% if object.seen and not object.mutedStatus %}  
                        
                        <img id = "chat_icon1" src = "{% static 'icons_/opened_chat_icon.PNG' %}" height="35px" width="auto"  style="float:left;margin-top:0px;margin-right:10px;margin-left:0px;">
                        <button id = "mutebtn1" data-chat-seen="{{object.seen}}" data-chat-muteStatus="{{object.mutedStatus}}" type= "button" class="btn" style = "float:right;height:auto;background-color:#0000;margin:0 0 0 0;"><p id = "mute_btn_txt1" style="color:black;margin:0px 0px 0px 0px;">Mute</p></button>
                        <button id = "removebtn1" type= "button" class="btn" style = "float:right;height:auto;margin:0 0 0 0;background-color:#0000;"><p style="color:black;margin:0px 0px 0px 0px;">Leave</p> </button>
                        {% endif %}
                            
                            <div style="margin-left:40px;">
                            <a id = "chat_title_link" href="{{class.chat_page}}"><h4 class="list-group-item-heading" style="color:black;margin-top:5px;">{{object.chatID.className}}, {{object.chatID.professor}}</h4></a>
                            
                            
                            
                        
                            
                            <p class="list-group-item-text" style="color:grey;">{{class.snippet}}</p>
                            </div>
                            
                    </div>

                    <br>
            
                   
                </div>
                {% endfor %}
            </div>
        </div>
        
<script>
  //  href="{{class.chat_page}}"
//Initialize Remove button functionality
$(document).ready(function(){
                $("[id^=removebtn]").click(function(){
                ($(this).closest("[id^=list_chat]")).remove();
                
                });
});


function unopenedUnmute(){
    $(this).siblings("[id^=chat_icon]").attr("src","{% static 'icons_/unopened_chat_icon.PNG' %}");
    $(this).text("Mute");
    $(this).off("click");
    $(this).click(unopenedMute);
}
        
function unopenedMute(){
    $(this).siblings("[id^=chat_icon]").attr("src","{% static 'icons_/unopened_muted_chat_icon.PNG' %}");
    $(this).text("Unmute");
    $(this).off("click");
    $(this).click(unopenedUnmute);
}
        
function openedUnmute(){
    $(this).siblings("[id^=chat_icon]").attr("src", "{% static 'icons_/opened_chat_icon.PNG' %}");
    $(this).text("Mute");
    $(this).off("click");
    $(this).click(openedMute);
}
        
function openedMute(){
    $(this).siblings("[id^=chat_icon]").attr("src","{% static 'icons_/opened_muted_chat_icon.PNG' %}");
    $(this).text("Unmute");
    $(this).off("click");
    $(this).click(openedUnmute);
}

//Initialize Mute/Unmute button functionality
$(document).ready(function(){
                $("[id^=mutebtn]").each(function(index){
                    
                if($(this).attr("data-chat-seen") == "True"){
                    if($(this).attr("data-chat-muteStatus") == "True"){
                        $(this).click(openedUnmute);
                    }
                    else {
                    $(this).click(openedMute);
                    }
                }
                else if ($(this).attr("data-chat-seen") == "False"){
                    if($(this).attr("data-chat-muteStatus") == "True"){
                        $(this).click(unopenedUnmute);
                    }
                    else{
                        $(this).click(unopenedMute);
                    }
                }
                
                });
});


</script>
      
     
     




{% endblock content%}
    

    
    
    
    
    
    

