<!DOCTYPE hmtl>
<html>
<head>
    <title>{% block head_title %}unijive - Network Better{% endblock head_title %}</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    {% include 'snippets/css.html' %}
    {% include 'snippets/js.html' %}
    {% load static %}
    <style>
    
            a.main_page:link, a.main_page:hover{
                color: #439DBB;
                text-decoration:none;
            }
            a.navbarLink:link, a.navbarLink:hover{
                color: white;
                text-decoration:none;
            }
        img.test{
            max-width:33%;
        }
    
     @font-face{
     font-family: 'CaviarDreams';
     src: url("{% static 'caviar_dreams/CaviarDreams.ttf' %}");
    }

        
        </style>
{% load static%}
<link rel="stylesheet" media="screen" href="{% static "sidebar.css"%}" type="text/css"/>


<div class = "navbar" style="background-color:#439DBB">
    <div class="col"><div class="navbar-brand" style="font-family:CaviarDreams;color:white;"><a href = "/logged_in" class = "navbarLink"><h1>unijive</h1></a></div></div>
    <div class="col"><div class = "page-heading" style="background-color: #439DBB;margin-bottom:0px;">
            <h1 class = "welcome_splash" style="text-align:center;color:white;font-family:CaviarDreams;">Welcome, {{ user.userprofile.firstName }}!</h1>
        </div></div>
    <div class="col" >
            <a href ="/my_account" style = "float:right;" >
                <button type= "button" class="btn btn-link">
                    <div class = "image-cropper">
                        <img class = "rounded" src = "{% static "icons_/account_icon.PNG" %}">
                    </div>
                </button>
                
        </a>
        
    </div>
</div>
</head>
<body style = "background-color:#439DBB1F"></body>

{% block content %}

{% endblock content %}
</body>
    
</html>