{% extends 'unijive.nav_bar_base.html' %}
        
{% block content%}
{% load static %}

        <div class = "page-header" style = "margin-top:50px;margin-left:30px;">
            <h1>
                <a href = "{% url "myChats" %}"><img src = "{% static "icons_/my_chats_icon.PNG" %}" height="80px" width="auto" style = "float:left;"></a>
                <h1 style = "text-align:center;color:#439DBB;">Search for Chats
                <a href = "{% url "distractions" %}"><img src = "{% static "icons_/distractions.PNG" %}" height="80px" width="auto" style = "float:right;margin-right:60px;"></a>
                </h1>
            </h1>
            
        </div>
        <br>
        <div class = "container" style="margin-top:20px;text-align:center;">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="input-group" style="margin-top:15px;margin-bottom:15px;">
                        <input type="text" class="form-control" placeholder="School" value="{{user.userprofile.university}}" disabled>
                            </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <div class = "row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="input-group" style="margin-top:15px;margin-bottom:15px;">

                        <input list="classes" class="form-control" placeholder="Class">
                        <datalist id="classes">
                        {% for  object in someList %}
                        
                        <option value = "{{object.className}}">
                        {% endfor %}
                        
                        </datalist>
                
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class = "row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="input-group" style="margin-top:15px;margin-bottom:15px;">
                        <input list="professors" class="form-control" placeholder="Professor">
                        <datalist id="classes">
                                {% for  object in object_list %}
                                <!-- need to filter professor for selected class using js -->
                                <option value = "{{object.className}}">
                                {% endfor %}
                        </datalist>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

<span class="input-group-btn">
    <button class="btn btn-default" style = "margin: 10px auto 0px auto;background-color:#439DBB;color:white;" type="button">Add</button>
</span>
        </div>

<script></script>
        
{% endblock content%}
    
    
    
    
    
    
    

