<!DOCTYPE hmtl>
<html>
<head>
    <title>{% block head_title %}unijive - Network Better{% endblock head_title %}</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    {% include 'snippets/css.html' %}
    {% include 'snippets/js.html' %}
    <style>
    
            a.main_page:link, a.main_page:hover{
                color: #439DBB;
                text-decoration:none;
            }
        img.test{
            max-width:33%;
        }
        
        </style>
{% load static%}
<link rel="stylesheet" media="screen" href="{% static "sidebar.css"%}" type="text/css"/>

<div class = "navbar" style="background-color:#439DBB">
    <div class="navbar-brand" style="font-family:GrandHotelRegular;color:white;"><h2>unijive</h2></div>
    
        <a href ="/my_account">
            <button type= "button" class="btn btn-link">
                <div class = "image-cropper">
                    <img class = "rounded" src = "{% static "icons_/account_icon.PNG" %}">
                        </button>
            </div>
    </a>
    
    
</div>
</head>
<body style = "background-color:#439DBB1F"></body>

{% block content %}

{% endblock content %}
</body>
    
</html>